#signup {
    background-image: linear-gradient(to bottom right, #281d38, #404177, #C9D6E2);
    display: grid;
    place-items: center;
    box-sizing: border-box;
    min-height: 110vh;
    min-width: 100vw;
    position: fixed;
    top: 0;
    transition: transform 0.4s;
    z-index: 1;
    color: #fffcdc;
}

#signup .signup {
    display: block;
    margin: auto;
    min-width: 600px;
    min-height: 400px;
    text-align: center;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.7),
        -2px -2px 3px rgba(255, 255, 255, 0.2);
    background-image: linear-gradient(to bottom right, #2c1d42, #4c2580, #588ab8);
    border-radius: 20px;
    z-index: 1;
    position: fixed;
}

#signup h2 {
    text-align: center;
    margin: 30px 0px;
    font-size: 27px;
    color: #fffcdc;
    font-family: "Montserrat", sans-serif;
}

#signup a {
    text-decoration: solid;
    font-weight: bolder;
    color: #a228e9;
    margin: 5px;
}

#username,
#pass,
#name,
#age,
#email {
    height: 50px;
    min-width: 350px;
    /* outline: none; */
    background: transparent;
    padding: 10px 20px;
    border: 3px solid #fffcdc;
    /* border-bottom: 3px solid #ff4c68; */
    font-size: 18px;
    border-radius: 10px;
    display: block;
    margin: 10px auto;
    color: #fffcdc;
}

#username:focus,
#pass:focus,
#name:focus,
#age:focus,
#email:focus {
    border: 3px solid #a228e9;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

.input-field {
    position: relative;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field i.icon {
    left: 0;
}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

#signup .b1 {
    height: 50px;
    min-width: 350px;
    border: 3px solid #914cff;
    /* outline: none; */
    /* background: transparent; */
    border-bottom: 3px solid #914cff;
    padding: 0px 20px;
    font-size: 20px;
    display: block;
    margin: auto;
    cursor: pointer;
    font-weight: 600;
    color: #020202;
    font-family: "Montserrat-Bold", sans-serif;
    border-radius: 10px;
    background-color: #fffcdc;
}

.showP {
    cursor: pointer;
    margin: 0 0% 0 75%;
}

#signup .b1:hover {
    background-color: #000000;
    color: #914cff;
    border: 3px solid #000;
    transition: all 0.2s ease;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: bolder;
}